body{
  background-color: black;
  color:white;
}
li{
  color: white;
}
a{ 
  color:inherit;
  text-decoration: inherit;
}
a:hover{
  font-size: 30px;
}

.bottom{
  position: relative;
}
form{
  position: fixed;
  right:0;
  bottom:0;
}