body{
    background-color:gray;
}
#todo-list{
    position: fixed;
    bottom: 0;
    right:30px;
    width:50px;
    height:45px;
    background-color:rgb(153,217,234);
    border-radius: 5px;
}


.hidden{
    display:none;
}
.display{
    border:3px solid black;
    border-radius:5px;
    background-color: #FFE4C4;
    position: fixed;
    bottom:55px;
    right:30px;
    width:230px;
    height:200px;
}


#testbox{
    width:100px;
    height:100px;
    background-color: white;
}
.testtest{
    background-color: aqua;
}



