body,ul,li{
  margin:0;
  padding:0;
  list-style: none;
}
.menu{
  padding-top: 10px;
  text-align: center;
}
.menu>ul{
  display: inline-block;
  border:black solid 3px;
  width:200px;
}
.menu>ul>li{
  display:inline-block;
  text-align: center;
  padding:10px;
}
.menu>ul>li>a{
  color:inherit;
  text-decoration: inherit;
}
.menu ul ul{
  display:none;
}
.menu li:hover>ul{
  display:block;
}
.menu li>a{
  padding:10px;
  display: block;
}











#first-item{
  border-right:3px solid black;
}
